.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container {
  margin-top: 20px;
}

.admin-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-heading {
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-size: 20px;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.whitelist-input {
  border: solid 2px white;
  width: 400px;
  height: 30px;
  font-size: 24px;
  margin-right: 10px;
}

.whitelist-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 24px;
}

.whitelist-button:hover {
  background-color: #bbbbbb;
}

.withdraw-button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
}

.withdraw-button:hover {
  background-color: #bbbbbb;
}

.connect-button {
  width: 300px;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
}

.connect-button:hover {
  background-color: #bbbbbb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
